:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --background-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-header-second-color: #000000;
  --footer-background-color: #2f303a;
  --section-team-color: #F5F4FA;
  --button-hero-activ-color: #188ce8;
  --header-line: #ececec;
  --border-project-color: #eeeeee;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-link: color var(--transition);
  --transition-icon: fill var(--transition);
  --transition-background-icon: background-color var(--transition);
  --transition-border-icon: border-color var(--transition);
  --transition-shadow-link: box-shadow var(--transition);
  --transition-transform: transform var(--transition);
  --transition-opacity: opacity var(--transition);
  --transition-visibility: visibility var(--transition);
}

.page {
  background-color: var(--background-text-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*__________________________________header___________________________________*/

.header {
  border-bottom: 1px solid var(--header-line);
}

.header-container {
  display: flex;
  align-items: center;
}

/* ===============site navigation */
.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-second-color {
  color: var(--logo-header-second-color);
}

/* -----------navigation */
.nav-list {
  display: flex;
  margin-left: 92px;
}

.nav-list .nav-list-item + .nav-list-item,
.contacts-list .contacts-list-item + .contacts-list-item {
  margin-left: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--transition-link);
}

.current{
  position: relative;
}

.current::after{
  content:'';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* uses accent color */

/* navigation */
.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .link.current,
/* contacts */
.link-contacts.link:hover,
.link-contacts.link:focus,
/* footer contacts */
.footer-address:hover,
.footer-address:focus,
.footer-cont:hover,
.footer-cont:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* ====================contacts */

.contacts-list {
  display: flex;
  margin-left: auto;
}

.link-contacts{
  display: flex;
  align-items: center;
}

.contacts-icon{
  fill: #757575;
  transition: var(--transition-icon);
}

.link-contacts:hover .contacts-icon,
.link-contacts:focus .contacts-icon{
  fill: var(--accent-color);
}

.retreat{
  margin-right: 10px;
}

.link-contacts.link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--transition-link);
}

/* ________________________________________main_______________________________________ */

/* ----------------hero */
.hero { 
  max-width: 1600px;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image:
  linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
   url("../images/hero-image.jpg");
  background-color: #C4C4C4;
}

.hero-title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--background-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* -------------------button */
.button-hero {
  min-width: 216px;
  min-height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--background-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: var(--transition-background-icon);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hero-activ-color);
}

.button-center {
  text-align: center;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  margin-bottom: 10px;
}

/* section description */
.section-desc p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.desc-container {
  display: flex;
}

.section-title.desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.desk-item {
  width: 270px;
}

.feature-list-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.desk-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/*------------- section working */
.section-working{
  padding-top: 0;
}

.working-container {
  display: flex;
}

/* --------------------titles h2 */
.section-title.working,
.section-title.team,
.section-title.clients {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.working-item{
  position: relative;
}

.working-text{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.working-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

/*------------- section team */

.section-team {
  background-color: var(--section-team-color);
}

.container-team {
  display: flex;
}

.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-text {
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  background-color: var(--background-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.card-description{
  padding: 30px 10px;

}
/* =======================social links (team, footer) */
.social-list{
  display: flex;
  justify-content: center;
}

.social-list-item{
  width: 44px;
  height: 44px;
}

.social-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  transition: var(--transition-background-icon);
}

.social-list-icon{
  fill: #afb1b8;
  transition: var(--transition-icon);
}

.social-list-link:hover,
.social-list-link:focus{
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
  fill: #ffffff;
}

.social-list-item:not(:nth-child(4n)) {
  margin-right: 10px;
}

/*---------------------------section clients */

.clients-container {
  display: flex;
}

.client-item{
  width: 170px;
  height: 92px;
}


.client-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--transition-border-icon);
}

.client-list-icon{
  fill: #afb1b8;
  transition: var(--transition-icon);
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon{
fill: var(--accent-color);
}

.client-list-link:hover,
.client-list-link:focus{
  border-color: var(--accent-color);
}

.client-item:not(:nth-child(6n)) {
  margin-right: 30px;
}

/*________________________________________footer________________________________________*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-container{
  display: flex;
  align-items: baseline;
}

.footer-contacts-link{
  width: 231px;
  margin-right: 70px;
}

.footer-social-block{
  width: 206px;
}

.footer-upper-text{
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-social-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: var(--transition-background-icon);
}

.footer-social-list-icon{
  fill: #ffffff;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus{
  background-color: var(--accent-color);
}

.logo-footer-second-color,
.footer-address {
  color: var(--background-text-color);
  transition: var(--transition-link);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:nth-child(3n)) {
  margin-bottom: 10px;
}

.footer-cont,
.footer-tel {
  color: rgba(255, 255, 255, 60%);
  transition: var(--transition-link);
}
/* _____________________________________portfolio page_________________________________ */

/* main portfolio */
.filter-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button-item:not(:nth-last-child(5n)) {
  margin-left: 8px;
}

.button-filter {
  min-width: 73px;
  min-height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--section-team-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: var(--transition-link),
  var(--transition-background-icon),
  var(--transition-shadow-link);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-color);
  color: var(--background-text-color);
  box-shadow: 
  0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
}

.project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-item{
  width: 370px;
  height: 404px;
}

.project-item-border {
  border: 1px solid var(--border-project-color);
  border-top: none;
  padding: 20px 24px;
}

.portfolio-item-link{
  display: block;
  transition: var(--transition-shadow-link);
}

.project-thumb{
  position: relative;
  overflow: hidden;
  
}

.overlay-text{
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: var(--transition-transform);
 
  
}

.portfolio-item-link:hover .overlay{
  transform: translateY(0%);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus{
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-project-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-cat-desc {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* ===========================modal window */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color:  rgba(0, 0, 0, 0.2);
  transition: var(--transition-opacity),
  var(--transition-visibility);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 580px;
  padding: 40px;
  opacity: 1;
  background-color: #FFFFFF;
  box-shadow: 
  0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
   0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--transition-transform),
  var(--transition-opacity);
}

.modal-close-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-icon);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
  fill: var(--accent-color);
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal{
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}

/* =======================contact form modal window */

.contact-form{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--title-text-color);
}

.contact-form-field{
  display: block;
  margin-top: 10px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.contact-form-input{
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: var(--transition-border-icon);
}

.contact-form-input:focus,
.contact-form-message:focus{
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-input:focus+.contact-form-icon{
  fill: var(--accent-color);
}

.contact-form-input-wrapper{
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: var(--transition-icon);
}

.contact-form-message{
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: var(--transition-border-icon);
}

.contact-form-message::placeholder{
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.contact-form-checkbox-wrapper a{
  color: var(--accent-color);
}

.checkbox-icon{
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: var(--transition-border-icon),
  var(--transition-background-icon);
}

.contact-form-checkbox:focus+.checkbox-icon{
  outline: 2px solid #000000;
}

.contact-form-checkbox:checked+.checkbox-icon{
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.contact-form-submit-btn{
  min-width: 200px;
  min-height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--background-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: var(--transition-shadow-link),
  var(--transition-background-icon);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus{
  background-color: var(--button-hero-activ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ---------------------footer email form */

.footer-email-form{
  width: 570px;
  margin-left: auto;
}

.email-input{
  display: flex;
}

.footer-email-input{
  margin-right: auto;
}

.contact-form-icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: var(--transition-icon);
}

.footer-email-input{
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  background-color: transparent;
  margin-right: 12px;
}

.icon-send{
  margin-left: 10px;
}

.footer-email-submit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--background-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: var(--transition-shadow-link),
  var(--transition-background-icon);
}

.footer-email-submit-btn:hover,
.footer-email-submit-btn:focus{
  background-color: var(--button-hero-activ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}